* {
	font-family: "courier new", serif;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2.5em;
}

h2 span{
	padding: 5px;
	border-radius: 5px;
	color: #FFF;
	display: inline-block;
	background: #3E86D0;
	margin: 20px 0;
	box-shadow: 0px 2px 0 #666;
	-moz-box-shadow: 0px 2px 0 #666;
	-o-box-shadow: 0px 2px 0 #666;
	-webkit-box-shadow: 0px 2px 0 #666;
}


blockquote {
	border-left: 5px solid #CCC;
	padding: 20px;
}

blockquote::before {
	font-size: 24px;
	content: "\"    ";
}

.header {
	margin: 20px 0; 
	color:#000;
	margin-bottom: 10px;
}

.header{
	background: #3E86D0;
	padding: 5px;
	font-size: .9em;
	color: #FFF;
	box-shadow: 2px 2px 0 #666;
	-moz-box-shadow: 2px 2px 0 #666;
	-o-box-shadow: 2px 2px 0 #666;
	-webkit-box-shadow: 2px 2px 0 #666;
	text-align: center;
	padding: 1em;
}

aside {
	float: left;
	width: 15%;
	border-right: 1px solid #CCC;
	padding: 10px;
}
aside nav dl{
	text-align: right;
}

aside nav dl dd{
	margin: 5px 0;
}

article {
	display: inline-block;
	margin-left: 3em;
	width: 70%;
}
article form table tbody tr td label{
	float: right;
}

article form table {
	width: 100%;
}

input { width: 80%; }

footer {
	background: #DDD;
	padding: 2em;
	text-align: center;
	clear: both;
}